<ion-header>
    <ion-toolbar color="warning">
        <ion-title>Registrierung</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid padding class="getStart">
        <ion-col class="align-self-center" size-md="6" size-lg="5" size-xs="12"></ion-col>
        <form class="form" [formGroup]="validations_form" (ngSubmit)="onSubmit()">
            <ion-item>
                <ion-label class="mail" position="floating">Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.email">
                  <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            <ion-item>
                <ion-label class="pw" position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            <ion-item>
                <ion-label position="floating">Vorname</ion-label>
                <ion-input formControlName="firstName" class="form-controll" required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.firstName">
                  <div class="error-message" *ngIf="validations_form.get('firstName').hasError(validation.type) && (validations_form.get('firstName').dirty || validations_form.get('firstName').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            <ion-item>
                <ion-label position="floating">Nachname</ion-label>
                <ion-input formControlName="lastName"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.lastName">
                  <div class="error-message" *ngIf="validations_form.get('lastName').hasError(validation.type) && (validations_form.get('lastName').dirty || validations_form.get('lastName').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            <ion-radio-group (ionChange)="radioGroupChange($event)" formControlName="kunde">
                <ion-list-header>
                    <ion-label>Privat oder Geschäftskunde?</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-label>Privatkunde</ion-label>
                    <ion-radio color="warning" slot="start" value="Privatkunde"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Geschäftskunde</ion-label>
                    <ion-radio color="warning" slot="start" value="Geschäftskunde"></ion-radio>
                </ion-item>
            </ion-radio-group>
            <ion-item *ngIf="selectedRadioGroup === 'Geschäftskunde'">
                <ion-label position="floating">Unternehmensname</ion-label>
                <ion-input formControlName="companyName"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.companyName">
                  <div class="error-message" *ngIf="validations_form.get('companyName').hasError(validation.type) && (validations_form.get('companyName').dirty || validations_form.get('companyName').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            <ion-col>
                <div id="geocoder" class="geocoder"></div>
            </ion-col>
            <ion-button color="warning" expand="full" type="submit" [disabled]="!validations_form.valid">Registrierung
            </ion-button>
        </form>
    </ion-grid>
</ion-content>