.map_box_container{
    position: relative;
    height: 100% !important;
    width: 100% !important;
  }
  
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100% !important;
}
#searchbar {
    position: relative;
}

#vorschläge {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.geocoderstart {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 30px;

}

.geocoderziel {
    position: absolute;
    z-index: 2;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 70px;
    }

.date {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 110px;
           }

.time {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 140px;
                         }

.NumberOfPerson {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 170px;
}

.Payment {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 200px;
}
.Buchen {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 230px;
}

.PayPal {
    position: absolute;
    z-index: 1;
    width: 16%;
    left: 67%;
    margin-left: -25%;
    top: 300px;

} 