.welcome-card{
    display: inline-block;
    flex-direction: column;
    width: 80% !important;
    height: 80% !important;
    margin: 0 !important;
  }

  .welcome-card1{
    display: inline-block;
    flex-direction: column;
    width: 80% !important;
    height: 80% !important;
    margin: 0 !important; 
  }
  
  .pieChart2{
    display: inline-block;
    flex-direction: column;
    width: 70% !important;
    height: 10% !important;
    margin: 0 !important; 
  } 